#asbsearch_dropstable {
    position: relative;
    width: 100%;
}

#asbsearch_dropstable th {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1;
  }

#asbsearch_dropstable tr:nth-child(odd) td{
    background-color: #12396c30;
}

#asbsearch_dropstable2 tr td{
    width: 100%;
    background-color:rgba(0, 0, 0, 0) !important;
}


.asbsearch_LvlSelect td.mw-label {
    text-align: right;
}

.zone-infobox-weather-div {
    max-height: 200px;
    overflow: auto;
}

.zone-infobox-weather-table {
    font-size : 13px! important;
}

/*
Character selection DIVs
*/
#FFXIPackageHelper_equipsets_charSelect, #FFXIPackageHelper_equipsets_setSelect {
    /* background-color: #92fcac;
    display:inline-block;
    width:150px;
    min-width: 100px;
    height:100%;
    text-align: center;
    overflow-y: auto; */

    /* background-color: #92fcac; */
    display: flex;
    width: 100%;
    /* min-width: 100px; */
    height: 45px;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
}

#FFXIPackageHelper_equipsets_setSelect {
  display: inherit;
}

#FFXIPackageHelper_equipsets_charSelectMerits {
    /* background-color: #d495ff;
    display:inline-block;
    overflow-x: auto;
    width:100%;
    height:100%;
    padding: 0px 5px 0px 35px; */

    /* background-color: #d495ff; */
    display: block;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    /* padding: 0px 0px 0px 15px; */
  }

  #FFXIPackageHelper_equipsets_charTab {
      display: block;
      width: 100%;
      height: 100%;

  }

  .FFXIPackageHelper_equipsets_charSelectOptionsMenu{
    width: 100%;
    height: 45px;
    /* background-color: #95cfff; */
    /* right: 25px; */
    display: block;
    /* text-align: right; */
    margin: auto;
  }

/*
Character selection buttons
*/
.FFXIPackageHelper_newCharButton, .FFXIPackageHelper_newSetButton {
  /* display: block; */
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 10px;
  height: 25px;
  min-width: max-content;
  margin: 5px;
  border-radius: 7px;
  font-size: 13px;

  /* background: #ffffff;
  color:  #00ad1a95;
  stroke: #00ad1a95; */
  stroke-width: 2px;

  background-color: #00ad1a95;
  color:  #ffffff;
  stroke: #ffffff;

  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 10%);
  transition: background 0.2sease, color 0.2sease, box-shadow 0.2sease;


}

.FFXIPackageHelper_newCharButton:hover, .FFXIPackageHelper_newSetButton:hover{
  /* background-color: #00ad1a95;
  color:  #ffffff;
  stroke: #ffffff; */

  background: #ffffff;
  color:  #00ad1a95;
  stroke: #00ad1a95;

  box-shadow: 0 6px 10px rgb(93 93 93 / 23%);
}

.FFXIPackageHelper_newCharButton:disabled, .FFXIPackageHelper_newSetButton:disabled{
  cursor: not-allowed;
  pointer-events: none;
  background-color: #86868671;
  color: #fff;
  stroke: #ffffff;
}

.FFXIPackageHelper_newCharButton_Grayed, .FFXIPackageHelper_newSetButton_Grayed{
  background-color: #868686;
  color: #fff;
  stroke: #ffffff;
}

.FFXIPackageHelper_newCharButton_Grayed:hover, .FFXIPackageHelper_newSetButton_Grayed:hover{
  background-color: #494949;
  box-shadow: 0 6px 10px rgb(93 93 93 / 23%);
  color: #fff;
  stroke: #ffffff;
}

.FFXIPackageHelper_saveCharButton, .FFXIPackageHelper_saveSetButton{
  visibility: hidden;
  display: unset;
  /* position: absolute; */
  background: #00ad1a95;
  color:  #ffffff;
}


.FFXIPackageHelper_charButton_default, .FFXIPackageHelper_setButton_default {
  box-shadow: 5px 5px 5px 5px #00ad1a95;
}
.FFXIPackageHelper_charButton_default:hover, .FFXIPackageHelper_setButton_default:hover {
  box-shadow: 0 6px 10px #a1cb4785;
}


.FFXIPackageHelper_refreshStatsButton{
  position: relative;
  display:block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: #fff;
  border: 2px solid #3586ff;
  fill: #3586ff;
    /* top: 50%; */
    /* left: 50%; */
  border-radius: 50%;
  margin: 5px auto;
  padding: 3px 0px;
}

.FFXIPackageHelper_refreshStatsButton:hover {
  background: #3586ff;
  fill: #fff;
  transition: 0.2s;
}

.FFXIPackageHelper_deleteCharButton, .FFXIPackageHelper_deleteSetButton {
  visibility: hidden;
  display: block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 10px;
  height: 25px;
  margin: 20px 0px 0px 0px;
  border-radius: 7px;
  font-size: 13px;
  background: #ff3535;
  color: #ffffff;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 10%);
  transition: background 0.2sease, color 0.2sease, box-shadow 0.2sease;
}

.FFXIPackageHelper_deleteSetButton {
  display: inherit;
  /* background: #d6d6d63c; */
  margin: 3px 0px 0px 5px;
}

.FFXIPackageHelper_deleteCharButton:hover, .FFXIPackageHelper_deleteSetButton:hover{
  background-color: #fff;
  color: #ff3535;
  box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}

.FFXIPackageHelper_editCharButton, .FFXIPackageHelper_editSetsButton{
  visibility: hidden;
  /* display: block; */
  /* position: absolute; */
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 10px;
  height: 25px;
  margin: 5px;
  border-radius: 7px;
  font-size: 13px;
  background: #3586ff;
  color: #ffffff;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 10%);
}

.FFXIPackageHelper_editCharButton{
  visibility: visible;
}

.FFXIPackageHelper_editSetsButton{
  visibility: visible;
  position: relative;
  background: #3586ff;
}

.FFXIPackageHelper_editCharButton:hover, .FFXIPackageHelper_loadSetButton:hover,
.FFXIPackageHelper_editSetsButton:hover{
  background-color: #fff;
  color: #3586ff;
  box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}

.FFXIPackageHelper_editCharButtonSelected, .FFXIPackageHelper_editSetsButtonSelected{
  background-color: #3586ff;
  color: #fff;
}

.FFXIPackageHelper_charButton, .FFXIPackageHelper_setButton, .FFXIPackageHelper_importluaButton {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 10px;
    height: 25px;
    margin: 5px;
    border-radius: 7px;
    font-size: 13px;
    background: #fff;
    color: #3586ff;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 10%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
  }

.FFXIPackageHelper_charButton:hover,
.FFXIPackageHelper_importluaButton:hover {
    background-color: #3586ff50;
    box-shadow: 0 6px 10px rgb(93 93 93 / 23%);
}

.FFXIPackageHelper_importluaButton {
  background-color: #3586ff;
  color: #fff;
}

.FFXIPackageHelper_charButton:disabled,
.FFXIPackageHelper_charButton[disabled],
.FFXIPackageHelper_editCharButton:disabled,
.FFXIPackageHelper_editCharButton[disabled]{
  cursor: not-allowed;
  pointer-events: none;
  background-color: #86868671;
  color: #fff;
}

.FFXIPackageHelper_charButtonselected, .FFXIPackageHelper_setButtonselected{
  background-color: #3586ff;
  color: #fff;
}

.FFXIPackageHelper_charButton_default {
  box-shadow: 0 4px 5px 0 #a1cb47;
}
.FFXIPackageHelper_charButton_default:hover {
  box-shadow: 0 6px 10px #a1cb4785;
}

/*
* Hidden save DIV
*/
#FFXIPackageHelper_dynamiccontent_newCharSection{
  /* display: none; */
}

.FFXIPackageHelper_dynamiccontent_charNameInput, .FFXIPackageHelper_dynamiccontent_setNameInput{
  position: relative;
  cursor: text;
  font-size: 18px;
  padding: 0px 16px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #d6d6e7;
  border-radius: 3px;
  color: #000000;
  box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
  margin: 0px 0px 0px 10px;
  transition: all 100ms ease-in-out;
  background-color: #e8e9f445;
  :focus {
      outline-color: #3c4fe0;
      /* box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%); */
  }
}

.FFXIPackageHelper_dynamiccontent_setNameInput{
  width: 75%;
  height: 35px;
  font-size: 15px;
  padding: 0px 5px;
  margin: 0px;
}

.FFXIPackageHelper_dynamiccontent_charNameInput::placeholder, .FFXIPackageHelper_dynamiccontent_setNameInput::placeholder {
  font-style: italic;
  opacity: 0.5;
}

/*
*  Race dropdown
*/
#FFXIPackageHelper_dynamiccontent_raceLabel{
  display: inline-block;
  font-size: larger;
  font-weight: bold;
}

/* #FFXIPackageHelper_equipsets_selectRace {
  display: inline;
  margin: 3px 15px;
  height: 32px;
  border-radius: 3px;
  font-size: 17px;
  box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, .5);
  background-color: #e8e9f4;
}

#FFXIPackageHelper_equipsets_selectRace option{
  background-color: #e8e9f4;
} */


/*
* Default character toggle on add new char modal
*/
.FFXIPackageHelper_dynamiccontent_addCharDefaultLabel {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  margin: 10px;
}

.FFXIPackageHelper_dynamiccontent_addCharDefaultLabel .FFXIPackageHelper_dynamiccontent_addCharDefaultInput {
  /* opacity: 0; */
  width: 0;
  height: 0;
}

.FFXIPackageHelper_dynamiccontent_addCharDefaultSpan {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3586ff35;
  /* -webkit-transition: .4s; */
  transition: .4s cubic-bezier(0,1,0.5,1);
  /* border-radius: 4px; */
}

.FFXIPackageHelper_dynamiccontent_addCharDefaultSpan:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s cubic-bezier(0,1,0.5,1);
  border-radius: 3px;
}

.FFXIPackageHelper_dynamiccontent_addCharDefaultInput:checked + .FFXIPackageHelper_dynamiccontent_addCharDefaultSpan {
  background-color: #3586ff;
}

.FFXIPackageHelper_dynamiccontent_addCharDefaultInput:checked + .FFXIPackageHelper_dynamiccontent_addCharDefaultSpan:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.FFXIPackageHelper_dynamiccontent_addCharDefaultInput:disabled,
.FFXIPackageHelper_dynamiccontent_addCharDefaultInput[disabled] {
  cursor: not-allowed;
  pointer-events: none;
 }

.FFXIPackageHelper_dynamiccontent_addCharDefaultSpan.FFXIPackageHelper_dynamiccontent_addCharDefaultSpanround {
  border-radius: 30px;
}

.FFXIPackageHelper_dynamiccontent_addCharDefaultSpan.FFXIPackageHelper_dynamiccontent_addCharDefaultSpanround:before {
  border-radius: 50%;
}

#FFXIPackageHelper_tabs_equipsets_shown_loading {
  /* visibility: hidden; */
  visibility: visible;

  width: 150px;
  height: 25px;
  background: grey;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
}

#FFXIPackageHelper_tabs_equipsets_shown_loading p {
  font-weight: bold;
  justify-self: center;
  position: relative;
}