/*
Custom Form related inputs
*/
.FFXIPackageHelper_dynamiccontent_textinput {
    display: inline-block;
    padding: 0 16px 0 12px;
    width: 75%;
    line-height: 20px;
    height: 22px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    background-color: #fff;
    color: rgb(8, 7, 7);
    transition: border .1s linear,background-color .1s linear;
}

.FFXIPackageHelper_dynamiccontent_textinput:focus{
    border-color: #1b96ff;
    color: var(--sds-c-input-text-color-focus);
    box-shadow: rgb(1, 118, 211) 0px 0px 3px 0px;
}

/*
Custom Buttons
*/
.FFXIPackageHelper_dynamiccontent_customButton {
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #0070d2;
    border-radius: 0.25rem;
    border: 1px solid #0070d2;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
}

.FFXIPackageHelper_dynamiccontent_customButton:hover {
    background-color: #005fb2;
    border-color: #005fb2;
}

.FFXIPackageHelper_dynamiccontent_customButton:disabled,
.FFXIPackageHelper_dynamiccontent_customButton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.FFXIPackageHelper_dynamiccontent_shareButton {
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #fafbfc;
    border-radius: 0.25rem;
    border: 1px solid #1b1f2326;
    color: #24292e;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    
}

.FFXIPackageHelper_dynamiccontent_shareButton:hover {
    background-color: #f3f4f6;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}

/*
Main equipment DIV
*/
.FFXIPackageHelper_Equipsets_container {
    /* display: grid;
    grid-template-columns: auto 400px; */
    background-color: #878787;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*
Selecting equipment table
*/
.FFXIPackageHelper_Equipsets_table {
    border-collapse: collapse;
    width: 400px;

    /* float:left;
    flex-grow: 1; */
}

.FFXIPackageHelper_Equipsets_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.FFXIPackageHelper_Equipsets_table td {
    border: 1px solid #000;
    /* width: 1%;
    white-space: nowrap;
     */
     flex-grow:1;
}

/*
Showing equipment stats table
*/
.FFXIPackageHelper_Equipsets_showset {
    background-color: #1eff00;
    width: 400px;
    height: 400px;
    /* float:right;
    flex-wrap: wrap; */
}

