#dropstable {
    position: relative;
}

#dropstable th {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1;
  }

#dropstable tr:nth-child(even) td{
    background-color: #4c8af550;
}